{% extends 'portfolio/base.html' %}

{% block content %}

<div class="card">

    <h1>{{ artigo.titulo }}</h1>

    <br>

    {% if artigo.imagem %}

        <img
            src="{{ artigo.imagem.url }}"
            class="article-image"
        >

    {% endif %}

    <p>
        {{ artigo.conteudo }}
    </p>

    <br>

    <p class="small-text">

        Autor:
        {{ artigo.autor.username }}

    </p>

    <p class="small-text">

        Média:
        {{ artigo.media_rating }} / 5

    </p>

    <p class="small-text">

        Avaliações:
        {{ artigo.ratings.count }}

    </p>

</div>

<h2>Avaliar este artigo</h2>

<form method="POST">

    {% csrf_token %}
    <input type="hidden" name="form_type" value="rating">

    {{ rating_form.as_p }}

    <button type="submit">

        Avaliar

    </button>

</form>

<br>

<h2>Comentários</h2>

{% for comentario in artigo.comentarios.all %}

<div class="comment">

    <strong>
        {{ comentario.autor }}
    </strong>

    <p class="small-text">

        {{ comentario.timestamp }}

    </p>

    <br>

    <p>
        {{ comentario.texto }}
    </p>

</div>

{% endfor %}

<br>

<h2>Adicionar comentário</h2>

<form method="POST">

    {% csrf_token %}
    <input type="hidden" name="form_type" value="comentario">

    {{ comentario_form.as_p }}

    <button type="submit">

        Comentar

    </button>

</form>

{% endblock %}