{% load static %}

<!DOCTYPE html>
<html lang="pt">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Portfolio</title>

    <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">

</head>

<body>

<header class="navbar">

    <h1 class="logo-area">

        <span class="logo">
            Janio.dev
        </span>

        <span class="hamburger">
            &#9776;
        </span>

    </h1>

    <nav class="nav-links">

        <a href="/">Home</a>

        <a href="/artigos/">
            Artigos
        </a>

        <a href="/admin/">
            Admin
        </a>

        {% if user.is_authenticated %}

            <a href="/artigos/criar/">
                Novo Artigo
            </a>

            <a href="/logout/">
                Logout
            </a>

        {% else %}

            <a href="/login/">
                Login
            </a>

            <a href="/register/">
                Registo
            </a>

        {% endif %}

    </nav>

</header>

<main class="container">

    {% block content %}
    {% endblock %}

</main>

<script>

    const menu = document.querySelector('.nav-links');

    const botao = document.querySelector('.hamburger');

    botao.addEventListener('click', () => {

        menu.classList.toggle('mostrar');

    });

</script>

</body>

</html>