{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Janio Almeida | Portfolio</title>

    <link rel="stylesheet" href="{% static 'portfolio/css/landing.css' %}">
</head>
<body>

    <header class="hero">

        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/artigos/">Artigos</a>
            <a href="/admin/">Admin</a>

            {% if user.is_authenticated %}
                <a href="/artigos/criar/">Novo Artigo</a>
                <a href="/logout/">Logout</a>
            {% else %}
                <a href="/login/">Login</a>
                <a href="/register/">Registo</a>
            {% endif %}
        </nav>

        <div class="overlay"></div>

        <div class="hero-content">

            <h1>
                Fullstack Developer & Technology Consultant
            </h1>

            <p>
                Engenharia Informática • Portugal •
                Desenvolvimento Web • QA • Backend • Frontend
            </p>

            <a href="/admin" class="btn">
                Explorar Portfolio
            </a>

        </div>

    </header>

</body>
</html>